<section class="sub-header">
  <div class="container">
    <ul [fxHide.lt-md]="true">
      <li *ngFor="let item of contactInfo">
        <p>
          {{ item?.label }}: <span>{{ item?.data }}</span>
        </p>
      </li>
    </ul>
    <ul [fxHide.gt-sm]="true">
      <li>
        <p>
          {{ contactInfo[selectedItemMobile]?.label }}: <span>{{ contactInfo[selectedItemMobile]?.data }}</span>
        </p>
      </li>
      <div class="mobile-next" fxLayoutAlign="center center" (click)="changeInfo()">
        <img src="../../../../assets/images/icons/arrow-right.svg" alt="Arrow" />
      </div>
    </ul>
  </div>
</section>
