/*
 * File: header.component.scss
 * Project: staysafe-frontend
 * File Created: Tuesday, 7th April 2020 8:15:47 pm
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Wednesday, 8th April 2020 12:38:36 am
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */

@import 'settings/breakpoint';
@import 'settings/colors';

.header {
  height: 65px;
  display: flex;

  &__left {
    flex: 80;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__right {
    flex: 20;
    display: flex;
    justify-content: flex-end;
  }
  &__logo {
    height: 40px;
    width: 40px;
    margin-right: 55px;
  }

  &__nav-primary {
    ul {
      display: flex;
      list-style: none;
      li {
        color: $text--medium;
        font-weight: 600;
        cursor: pointer;
        padding: 0 16px;
        &:nth-of-type(1) {
          padding-left: 0;
        }
        &:nth-last-of-type(1) {
          padding-right: 0;
        }
        &.active {
          color: $text--dark;
        }
      }
    }
  }

  &__mobile-menu {
    display: none;
  }
}

@media screen and (max-width: $mobile) {
  .header {
    &__nav-primary {
      display: none;
    }
    &__mobile-menu {
      display: flex;
      justify-content: flex-end;
      &-icon {
        cursor: pointer;
        &:nth-of-type(1) {
          margin-right: 24px;
        }
      }
    }
  }
}
