<header class="header">
  <div class="container">
    <div class="header__left">
      <div class="header__logo" [routerLink]="['/']">
        <img src="../../../../assets/images/logo.svg" alt="StaySafe" />
      </div>
      <nav class="header__nav-primary" [ngClass]="{ collapsed: !isMobileMenuVisible }">
        <div class="mobile-menu__close" (click)="toggleMobileMenu()">
          <img src="../../../../assets/images/icons/close_dark.svg" alt="Close menu" />
        </div>
        <ul>
          <li class="nav-item mobile-menu__text"><p>Menu</p></li>
          <li
            class="nav-item"
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeMenu()"
          >
            <p>Overview</p>
          </li>
          <li class="nav-item" [routerLink]="['/news']" routerLinkActive="active" (click)="closeMenu()">
            <p>Latest News</p>
          </li>
          <li class="nav-item" [routerLink]="['/learn']" routerLinkActive="active" (click)="closeMenu()">
            <p>Learn</p>
          </li>
        </ul>
      </nav>
      <nav class="header__nav-primary web" [ngClass]="{ collapsed: !isMobileMenuVisible }">
        <ul>
          <li
            class="nav-item"
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeMenu()"
          >
            <p>Overview</p>
          </li>
          <li class="nav-item" [routerLink]="['/news']" routerLinkActive="active" (click)="closeMenu()">
            <p>Latest News</p>
          </li>
          <li class="nav-item" [routerLink]="['/learn']" routerLinkActive="active" (click)="closeMenu()">
            <p>Learn</p>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__right">
      <div class="header__location-switch">
        <app-button-group
          (buttonClicked)="locationSwitcher($event)"
          [buttons$]="locationToggleButtons$"
        ></app-button-group>
      </div>
      <div class="header__mobile-menu">
        <img class="header__mobile-menu-icon" src="../../../../assets/images/icons/globe.svg" alt="" />
        <img
          class="header__mobile-menu-icon"
          src="../../../../assets/images/icons/menu.svg"
          alt="Menu"
          (click)="toggleMobileMenu()"
        />
      </div>
    </div>
  </div>
</header>
