<div>
  <app-heading [data]="tableHeading">
    <div class="header__actions" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <app-button-group class="header__date-switcher" [type]="'secondary'"></app-button-group>
      <div class="form-field form-field--icon header__search">
        <img src="../../../../assets/images/icons/search.svg" alt="Search" class="form-field__pre-icon" />
        <input type="text" name="" id="" placeholder="Start typing to search" [formControl]="searchTerm" />
      </div>
      <div class="header__report">
        <button class="stroked-btn btn-pre-icon btn--accent">
          <span class="btn-icon"> <img src="../../../../assets/images/icons/alert.svg" alt="Report" /> </span>
          <p class="btn-text">
            Report Cases
          </p>
        </button>
      </div>
    </div>
  </app-heading>
  <app-table [data]="dataSource" (bookMarked)="bookMarked($event)"></app-table>
</div>
