/*
 * File: _modals.scss
 * Project: staysafe-frontend
 * File Created: Thursday, 16th April 2020 12:10:31 am
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Thursday, 16th April 2020 1:13:55 am
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */

@import 'settings/colors';

.modal {
  border-radius: 3px;
}

.modal-close {
  cursor: pointer;
}
.preferences-modal {
  padding: 24px;
  background-color: #fff;
  header {
    margin-bottom: 10px;
  }

  .item {
    padding: 10px 0;
    &__header {
      margin-bottom: 16px;
      .sub-heading {
        font-weight: 600;
        color: $text--dark;
      }
    }
    &__body {
      span {
        color: $text--light;
        font-size: 13px;
      }
    }
  }
  &__footer {
    margin-top: 16px;
  }
}
