/*
 * File: _global.scss
 * Project: staysafe-frontend
 * File Created: Tuesday, 7th April 2020 8:59:48 pm
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Friday, 17th April 2020 12:19:48 am
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */

@import 'settings/breakpoint';
.container {
  display: flex;
  width: 100%;
  max-width: 1440px;
  padding: 0 32px;
  margin: 0 auto;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.inner-container {
  @extend .container;
  max-width: 920px !important;
}

@media screen and (max-width: $mobile) {
  .container {
    padding: 0 16px !important;
  }
}
