<div class="quick-stats" fxLayout="column wrap">
  <section class="headings main-heading">
    <p class="main-heading">
      Quick Stats
    </p>
    <p class="sub-heading">
      Last Updates: 23 Minutes Ago
    </p>
  </section>
  <section class="quick-stats__content" fxLayout="row wrap">
    <article class="quick-stats__item" *ngFor="let stats of quickStats" fxFlex="50" fxFlex.gt-md="20">
      <p class="quick-stats__item-label">{{ stats?.label }}</p>
      <p class="quick-stats__item-value">
        {{ stats?.value }}
        <span class="quick-stats__item-delta" *ngIf="stats?.delta"> [{{ stats?.delta }}] </span>
      </p>
    </article>
  </section>
</div>
