<main class="inner-container" fxLayout="column">
  <ng-container *ngIf="quickStats$ | async as quickStats">
    <section class="section quick-stats">
      <app-quick-stats [quickStats]="quickStats"></app-quick-stats>
    </section>
  </ng-container>

  <ng-container *ngIf="bookmarkedStates$ | async as bookmarkedStates">
    <section class="section bookmarks">
      <app-bookmarked [data]="bookmarkedStates" (bookmarkChanged)="bookmarkChanged($event)"></app-bookmarked>
    </section>
  </ng-container>

  <ng-container *ngIf="indiaStates$ | async as indiaStates">
    <section class="section state-stats">
      <app-state-stats [data]="indiaStates" (bookmarkChanged)="bookmarkChanged($event)"></app-state-stats>
    </section>
  </ng-container>
</main>
