/*
 * File: top-news-card.component.scss
 * Project: staysafe-frontend
 * File Created: Friday, 10th April 2020 3:25:37 pm
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Friday, 10th April 2020 3:45:23 pm
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */
@import 'settings/colors';
.top-news-card {
  padding: 16px;
  border: 1px solid lighten($text--dark, 70);
  border-radius: 3px;
  margin: 20px 0;
  color: $text--light;
  &__title {
    font-size: 1.1rem;
    font-weight: 600;
    color: $text--dark;
    margin-bottom: 20px;
  }
  &__footer {
    color: $text--dark;
    font-size: 1rem;
    margin-top: 16px;
    .meta-separator {
      width: 4px;
      height: 4px;
      background-color: $primary;
      border-radius: 50%;
    }
  }
}
