/*
 * File: _colors.scss
 * Project: staysafe-frontend
 * File Created: Tuesday, 7th April 2020 7:57:52 pm
 * Author: Adithya Sreyaj
 * -----
 * Last Modified: Friday, 10th April 2020 12:36:02 pm
 * Modified By: Adithya Sreyaj<adi.sreyaj@gmail.com>
 * -----
 */

$primary: #0071bc;
$accent: #bf5000;
$tertiary: #8a6116;

$text--light: #637381;
$text--medium: #919eab;
$text--dark: #212b36;

$primary-bg--light: #ebf5fa;
